{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock title %}

{% block main %}
  <div class="col">
    <h1>{{ object.title }} - {{ object.year }}</h1>
    <p class="lead">
      {{ object.plot }}
    </p>
  </div>

  <ul class="movie-image list-inline">
    {% for movie in object.movieimage_set.all %}
      <li class="list-inline-item">
        <img width="100%" src="{{ movie.image.url }}">
      </li><br><br>
    {% endfor %}
  </ul>
{% endblock main %}

{% block sidebar %}
  <div>
    <span class="font-weight-bold text-muted">This movie is rated:</span>
    <span class="badge badge-primary">
      {{ object.get_rating_display }}
    </span>
  </div><br>
  <div>
    <span class="font-weight-bold text-muted">Score: </span> {{ object.score|default_if_none:"TBD" }}
  </div>

  <div>
    <span class="font-weight-bold text-muted">Director: </span>
    {% if object.director %}
      <a href="{% url 'core:person' object.director.pk %}">{{ object.director }}</a> <br>
    {% endif %}

    <span class="font-weight-bold text-muted">Writers: </span>
    <ul style="list-style: none; margin-left: -20px">
      {% for writer in object.writers.all %}
        <li><a href="{% url 'core:person' writer.pk %}">
          {{ writer.first_name }} {{ writer.last_name }}</a>
        </li>
      {% endfor %}
    </ul>

    <span class="font-weight-bold text-muted">Cast: </span>
    <ul style="list-style: none; margin-left: -20px;">
      {% for actor in object.actors.all %}
        <li>
          <a href="{% url 'core:person' actor.pk %}">{{ actor.first_name }} {{ actor.last_name }}</a>
        </li>
      {% endfor %}
    </ul>

    <span class="font-weight-bold text-muted">Runtime: </span> {{ object.runtime }}
  </div>

  <div>
  <style>
    label[for="id_value_0"], label[for="id_image"] {
      display: none;
    }

    form {
      margin-left: 20px;
    }
  </style>
  <br>
    <p class="font-weight-bold text-muted mb-2">Vote:</p>
    {% if vote_form %}
      <form method="post" action="{{ vote_form_url }}">
        {% csrf_token %}
        {{ vote_form|crispy }}
        <button class="btn btn-primary" type="submit">Vote</button>
      </form>
    {% else %}
      <p><a href="{% url 'user:login' %}?next={{request.path}}">Login</a> to vote for this</p>
    {% endif %}
  </div><br>

  <div>
    <span class="font-weight-bold text-muted">Upload new image: </span>
    {% if image_form %}
      <form method="post"
          enctype="multipart/form-data"
          action="{% url 'core:image' object.id %}">
        {% csrf_token %}
        {{ image_form|crispy }}
        <button class="btn btn-primary" type="submit">Upload</button>
      </form>
    {% else %}
      <br><a href="{% url 'user:login' %}?next={{request.path}}">Login</a> to upload images.
    {% endif %}
  </div>
{% endblock sidebar %}
