{% extends "base.html" %}

{% block title %}
  {{ object.first_name }} {{ object.last_name }}
{% endblock title %}

{% block main %}
  <h1>{{ object }}</h1>
  {% if object.role_set.all %}
    <h2>Actor</h2>
    <ul>
      {% for role in object.role_set.all %}
        <li>
          <a href="{% url 'core:detail' role.movie.pk %}">{{ role.movie }}</a> : {{ role.name }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if object.writing_credits.all %}
    <h2>Writer</h2>
    <ul>
      {% for movie in object.writing_credits.all %}
        <li>
          <a href="{% url 'core:detail' movie.pk %}">{{ movie.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if object.directed.all %}
    <h2>Director</h2>
    <ul>
    {% for movie in object.directed.all %}
      <li>
        <a href="{% url 'core:detail' movie.pk %}">{{ movie.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endblock main %}